@media screen and (max-width:980px) {
  .image-grid {
    padding: 16px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --padding: 16px;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: auto;
  }
  .image-grid .card {
    margin-bottom: 16px auto;
    width: 100%;
    height: 100%;
    min-height: 266px;
  }

  .image-grid-col-1 {
    grid-column: span 1;
  }

  main{
    margin: 0 auto;
  }

  .card{
    min-width: 216px;
  }
}
/* @media screen and (max-width: 600px) {
  .image-grid {
    display: grid;
  }
  .image-grid .card {
  }

  .img-grid {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .github {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .learn-path {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
} */

@media screen and (max-width: 425px) {
  .image-grid {
    display: flex;
    flex-direction: column; 
  }
}
