* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --body-color: #efefef;
}

.App {
  margin: 10px;
  padding: 32px;
}

body {
  background-color: var(--body-color);
}

main {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
